<div class="search-container">
  <input
    type="text"
    [(ngModel)] = "searchTerm"
    (input) = "onSearchChange($event)"
    [placeholder] = "placeholderText"
    class="search-input"
  />
</div>

<button (click)="loadPaintings()">{{ viewButton }}</button>
@if (loading) {
  <p>Loading paintings...</p>
}

@if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
}

@if (products.length > 0) {
  <ul class = "art-grid">
    @for (art of products; track art.id) {
      <li class = "art-card">
        <img
          [src] = "getImageUrl(art.image_id)"
          alt = "{{ art.title }}"
        />
        <div class = "art-info">
          <strong>{{ art.title }}</strong><br />
          <em>{{ art.artist_display }}</em><br />
          <small>{{ art.date_display }}</small>
        </div>
      </li>
    }
  </ul>
} @else if (!loading && !errorMessage) {
  <p>{{ loadingText }}</p>
}
